*{
    font-family: "inter",sans-serif;
  }
              header {
        background-image: url("./assects/home.png");
        background-repeat: no-repeat;
        background-position: center;
        background-clip: content-box;
        background-size: cover;
        position: relative;
    }
    .page1{
        width: 100%;
        display: flex;
    }
    .page1 .left{
        width: 50%;
        padding: 5%;
    }
    .gvp-summary{
        font-size: 1rem;
        font-weight: 500;
        color: #000;
        margin-bottom: 1rem;
        margin-top: 4rem;
        text-align: justify;
    }
    .gvp-summary h2{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .gvp-summary p{
        margin-bottom: 1rem;
        text-align: justify;
    }
    .page1 .right{
        width: 50%;
        padding: 5%;
    }
    .page1 .right .grid{
        display: flex;
    }
    .page1 .right img{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
        transition: transform 0.3s ease;
        margin: 4px;
    }
    .dia-img{
    height: 150px;
     width:300px; }

     #gridImg2{
        margin-left: 50px;
     }
     .view-more-btn{
        border: none;
        background-color: transparent;
        color: #22316c;
        font-weight: bolder;
     }
     .view-more-btn:hover{
        color: #f00;
     }

     @media screen and (max-width: 768px){
        .page1{
            flex-direction: column;
        }
        .page1 .left{
            width: 100%;
            padding: 0;
        }
        .page1 .right{
            width: 100%;
            order: -1;
            padding: 0;
        }
        .gridDiv1{
            display: flex;
            flex-direction: column;
        }
        #gridImg1,#gridImg4{
            width: 150px;
            height: 100px;
        }
        #gridImg2,#gridImg3{
            width: 100px;
            height: 150px;
        }
        #gridImg2{margin-left: 0;}
        #gridImg4{margin-left: -50px;}
         /* .page1 .right .grid{
            flex-direction: column;
        } */
        /* .page1 .right img{
            margin: 4px 0;
        }
        #gridImg2{
            margin-left: 0;
        } */
    }