<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
    * {
        margin: 0;
        font-family: "Inter", sans-serif;
        
    }
    .mbl{
        display: none;
    }
    
    .desk {
        width: 100%;
        height: 45vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .nav1 {
        width: 100%;
        height: 28px * 100%;
        background-color: #22316C;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
    
    .nav1 .right a {
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
        padding-left: 1%;
        color: #fff;
    }
    
    .nav1 .left a {
        font-size: small;
        text-decoration: none;
        padding-left: 10%;
        color: #fff;
    }
    
    .title h1, .para {
        text-shadow: 
            1px 1px 0 #000,
            -1px 1px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000;
    }
    .codes p{
        font-size: 20px;
        font-weight: bolder;
    }
    /* Main nav styles */
    
    .main-nav {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 0;
        background-color: transparent;
        z-index: 1000;
        /* position: relative; Start as relative to scroll normally */
        transition: top 0.3s ease, background-color 0.3s ease;
    }
    .main-logo{
        display: none;
        margin:0% 0% 0px 6vw;
        position: absolute;
        background: #22316c !important;
        border-radius: 50% !important;
        width: 5vw !important;
        height: 5vw !important;
        overflow: visible !important;
        position: absolute !important;
        top: 0px !important;
        max-height: none !important;
        padding: 7px !important;
        transition: all .2s ease !important;
}
    .main-nav.sticky {
        position: fixed; /* Fixed position when sticky */
        top: 0;
        background-color: #22316C; /* Background color when sticky */
    }
    .main-logo.stick{
        display: block;
    }
    
    .main-link {
        list-style: none;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    .main-link.stic{
        justify-content: end;
    }
    
    .main-nav > ul > li {
        position: relative;
        margin: 0 1px;
    }
    
    .main-nav > ul > li > a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        padding: 10px 20px;
        display: flex;
    }
    
    .main-nav > ul > li > a:hover, .main-nav > ul > li:hover > a {
        color: #e78709;
        border-radius: 5px;
        backdrop-filter: blur(5px); 
    }
    
    .main-nav > ul > li > ul {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #ffffff;
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 200px;
        z-index: 1;
    }
    
    .main-nav > ul > li > ul > li > a {
        padding: 10px;
        color: #000000;
        display: block;
        text-decoration: none;
    }
    
    .main-nav > ul > li > ul > li > a:hover {
        background-color: #22316C;
        color: #ffffff;
    }
    
    .main-nav > ul > li:hover > ul {
        display: block;
    }
    
    .codes span {
        color: #22316C;
    }
    
    .material-symbols-outline {
        margin-top: 20px;
    }
    .mbl{
        width: 95%;
        padding: 10px;
        background-color: #22316C;
        z-index: 1010;
    }
    .mbl .left{
        width: 70%;
        display: flex;
    }
    .mbl .left p{
        padding-left: 2px;
        font-size: smaller;
        font-weight: bold;
        color: white;
        align-content: center;
    }
    .mbl .right{
        width: 25%;
        display: flex;
        justify-content: end;
    }

    .mbl .right span{
        color: white;
        font-size:30px;
        cursor:pointer;
        
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #22316C;
        overflow-x: hidden;
        transition: 0.5s;
        }

        .overlay-content {
        background-color: #22316C;
        position: relative;
        top: 25%;
        width: 100%;
        text-align: left;
        margin-top: 30px;
        }

    .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    }

    .nav-left{
        color: white;
        display: flex;
        position: absolute;
        padding: 4px;
    }
    .overlay a:hover, .overlay a:focus {
    color: #e78709;
    }

    .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    }
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


    @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
    }
    @media only screen and (max-width: 1235px) {
        .title h1, .title p,.codes p {
            font-size: small;
        }
        .main-nav > ul {
        display: ruby;
        }

    }
    @media only screen and (max-width: 768px) {
        .mbl{
            display: flex;
        }
        .desk{
            display: none;
        }
        .dropdown {float: none;}
        .dropdown-content {position: relative;}
        .dropdown .dropbtn {
            display: flex;
            width: 100%;
            text-align: left;
  }
    }
   
</style>
</head>
<body>
<nav class="mbl">
    <div class="left">
        <img src="../assects/gvplogorm.png" alt="GVPT" width="40px">
        <P>GAYATRI VIDYA PARISHAD COLLEGE
        FOR DEGREE AND PG COURSES(A)</P>
    </div>
    <div class="right">
        <div id="myNav" class="overlay">
            <div>
                <div class="nav-left">
                    <img src="../assects/gvplogorm.png" alt="GVPT" width="40px">
                    <P>GAYATRI VIDYA PARISHAD COLLEGE
                    FOR DEGREE AND PG COURSES(A)</P>
                </div>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
            <div class="overlay-content">
              <a href="../index.html"><div class="dropdown">
                <button class="dropbtn">home
                </button>
                <div class="dropdown-content"></div>
              </div> </a>

              <div class="dropdown">
                <button class="dropbtn"><a href="../Adminstration/administration.html">Administration</a> 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                                      <a href="../Adminstration/administration.html">Administrators</a>
                    <a href="../Adminstration/administration.html#director">Directors</a>
                    <a href="../Adminstration/administration.html#deans">Deans</a>
                    <a href="../Adminstration/administration.html#controllers">Controllers</a>
                    <a href="../Adminstration/administration.html#hod-pg">PG HOD's</a>
                    <a href="../Adminstration/administration.html#hod-ET">E&T HOD's</a>
                    <a href="../Adminstration/administration.html#hod-ug">UG HOD's</a>
                    <a href="../Adminstration/administration.html#COORDINATORS">Coordinators</a>
                    <a href="../Adminstration/administration.html">Governing bodies</a>
                </div>
              </div> 

              <div class="dropdown">
                <button class="dropbtn"><a href="../Academics/">Academics</a>
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../Academics/programs.html">Programs</a>
                    <a href="../Academics/Academic calender.html">Academic calendar</a>
                    <a href="../Academics/Departments.html">Department</a>
                    <a href="../Academics/syllabus.html">Syllabus</a>
                    <a href="../Academics/Regulations.html">Regulations</a>
                    <a href="../Academics/Archives.html">Archives</a>
                </div>
              </div> 

              <div class="dropdown">
                <button class="dropbtn"><a href="../admissions/">Admissions</a>
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../Academics/engeenering.html">Undergraduate</a>
                    <a href="../Academics/undergraduate.html">Graduate</a>
                    <a href="../Academics/pg.html">International</a>
                </div>
              </div> 

              <div class="dropdown">
                <a href="../faculty/faculty.html">
                <button class="dropbtn">Faculty
                </button>
                <div class="dropdown-content"></div></a>
                
              </div> 

              <div class="dropdown">
                <button class="dropbtn"><a href="../placements/">Placements</a>
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../placements/about-placements.html">About Placements</a>
                    <a href="../placements/traningplacements.html">Training & Placements</a>
                    <a href="../placements/placementteam.html">Placements Team</a>
                    <a href="../placements/placements-activities.html">Placements Activities</a>
                </div>
              </div> 

              <div class="dropdown">
                <button class="dropbtn"><a href="#">Research</a>
                  <i class="fa fa-caret-down"></i>
                </button>
              </div> 

              <div class="dropdown">
                <button class="dropbtn">
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../others/examination-archives.html">Examination</a>
                    <a href="../others/Results.html">Results</a>
                    <a href="../others/clubs.html">Clubs</a>
                    <a href="#">Campus Life</a>
                    <a href="#">Transportation</a>
                    <a href="#">Events</a>
                    <a href="#">Code of Conduct</a>
                    <a href="../top/aicte.html">AICTE Mandatory Info</a>
                    <a href="../top/iqac.html">IQAC</a>
                    <a href="../top/iipc.html">IIPC</a>
                    <a href="../top/naac.html">NAAC</a>
                    <a href="##">ALUMNI</a>
                    <a href="../top/online payment.html">Online Payments</a>
                    <a href="##">CAREERS</a>
                    <a href="##">360 Virtual Tour</a>
                </div>
              </div> 

            </div>
          </div>
    
        <span  onclick="openNav()">&#9776; </span>
    </div>
</nav>
<nav class="desk">
    <!-- Your navigation content here -->
    <div class="nav1" style="color: #fff;">
        <div class="right" style="width: 60%;margin-left: 5%;">
            <a href="../top/aicte.html">AICTE Mandatory Info</a>
            <a href="../top/iqac.html">IQAC</a>
            <a href="../top/iipc.html">IIPC</a>
            <a href="../top/naac.html">NAAC</a>
            <a href="##">ALUMNI</a>
            <a href="../top/online payment.html">Online Payments</a>
            <a href="##">CAREERS</a>
            <a href="##">360 Virtual Tour</a>
        </div>
        <div class="left" style="margin-right: 5%;display:flex;">
            <a href=""><span class="material-symbols-outlined">mail</span></a>
            <a href="" style="padding-top: 5px;">Login</a>
        </div>
    </div>
    <div class="block" style="display: flex; justify-content: space-around;padding-top: 1%;color: #fff;">
        <div style="display: flex;">   
            <div class="logo" >
                <img src="../assects/gvplogorm.png" srcset alt="gayatri_logo" width="110px">
            </div>
            <div class="title">
                <h1>GAYATRI VIDYA PARISHAD <br/>COLLEGE FOR DEGREE AND PG COURSES (AUTONOMOUS)</h1>
                <p class="para">
                    Affiliated to Andhra University | Reaccredited by NAAC<br>
                    PG-MBA and UG Engineering B.Tech(CE,CSE,ECE and ME) programs are Accredited by NBA
                    <br>Visakhapatnam - 530045.
                </p>
            </div>
        </div>
        <div>
            <div class="codes">
                <p>
                    AUCET CODE <span> - 112</span><br>
                    ICET CODE <span>- GVPP</span><br>
                    PGCET CODE <span>- GVPT1</span><br>
                    EAPCET / ECET <span> GVPT</span>
                </p>
            </div>
        </div>
    </div>
    <div class="main-nav">
        <div>
            <img class="main-logo" src="../assects/gvplogorm.png" srcset alt="gayatri_logo" >
        </div>
        <ul class="main-link">
            
            <li><a href="../index.html"><span class="material-symbols-outlined">home</span></a></li>
            <li><a href="./404">About</a></li>
            <li><a href="../Adminstration/administration.html">Administration <span class="material-symbols-outlined">keyboard_arrow_down</span></a>
                <ul>
                    <li><a href="../Adminstration/administration.html">Administrators</a></li>
                    <li><a href="../Adminstration/administration.html#director">Directors</a></li>
                    <li><a href="../Adminstration/administration.html#deans">Deans</a></li>
                    <li><a href="../Adminstration/administration.html#controllers">Controllers</a></li>
                    <li><a href="../Adminstration/administration.html#hod-pg">PG HOD's</a></li>
                    <li><a href="../Adminstration/administration.html#hod-ET">E&T HOD's</a></li>
                    <li><a href="../Adminstration/administration.html#hod-ug">UG HOD's</a></li>
                    <li><a href="../Adminstration/administration.html#COORDINATORS">Coordinators</a></li>
                    <li><a href="../Adminstration/administration.html">Governing bodies</a></li>
                </ul>
            </li>
            <li><a href="../Academics/">Academics<span class="material-symbols-outlined">keyboard_arrow_down</span></a>
                <ul>
                    <li><a href="../Academics/programs.html">Programs</a></li>
                    <li><a href="../Academics/Academic calender.html">Academic calendar</a></li>
                    <li><a href="../Academics/Departments.html">Department</a></li>
                    <li><a href="../Academics/syllabus.html">Syllabus</a></li>
                    <li><a href="../Academics/Regulations.html">Regulations</a></li>
                    <li><a href="../Academics/Archives.html">Archives</a></li>
                </ul>
            </li>
            <li><a href="../admissions/">Admissions<span class="material-symbols-outlined">keyboard_arrow_down</span></a>
                <ul>
                    <li><a href="../Academics/engeenering.html">Undergraduate</a></li>
                    <li><a href="../Academics/undergraduate.html">Graduate</a></li>
                    <li><a href="../Academics/pg.html">International</a></li>
                </ul>
            </li>
            <li><a href="../faculty/faculty.html">Faculty</a>
            </li>
            <li><a href="../placements/">Placements<span class="material-symbols-outlined">keyboard_arrow_down</span></a>
                <ul>
                    <li><a href="../placements/about-placements.html">About Placements</a></li>
                    <li><a href="../placements/traningplacements.html">Training & Placements</a></li>
                    <li><a href="../placements/placementteam.html">Placements Team</a></li>
                    <li><a href="../placements/placements-activities.html">Placements Activities</a></li>
                </ul>
            </li>
            <li><a href="#">Research<span class="material-symbols-outlined">keyboard_arrow_down</span></a>
            </li>
            <li><a >Others<span class="material-symbols-outlined">keyboard_arrow_down</span></a>
                <ul>
                    <li><a href="../others/examination-archives.html">Examination</a></li>
                    <li><a href="../others/Results.html">Results</a></li>
                    <li><a href="../others/clubs.html">Clubs</a></li>
                    <li><a href="#">Campus Life</a></li>
                    <li><a href="#">Transportation</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Code of Conduct</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<script>
    // JavaScript to handle the sticky navigation effect
    window.addEventListener('scroll', function() {
        var mainNav = document.querySelector('.main-nav');
        var navLogo = document.querySelector('.main-logo');
        var navLink = document.querySelector('.main-link');
        if (window.scrollY > 170) { // Adjust the scroll value as needed
            mainNav.classList.add('sticky');
            navLogo.classList.add('stick');
            navLink.classList.add('stic');
        } else {
            mainNav.classList.remove('sticky');
            navLogo.classList.remove('stick');
            navLink.classList.remove('stic');
        }
    });

    
function openNav() {
  document.getElementById("myNav").style.width = "100%";
  
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}


</script>


